<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Add Book</title>
  </head>
  <body>
    <form action="{{ url_for('add') }}" method="POST">
      {{ form.hidden_tag() }}
      <p>
        <label >{{ form.title.label }}</label> 
        {{ form.title(size=100, class="form-input") }}
        {% if form.title.errors %}
            <ul class="errors">
                {% for error in form.title.errors %}
                    <li style="color: red;">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </p>
    
    <p>
        <label >{{ form.author.label }}</label> 
        {{ form.author(size=100, class="form-input") }}
        {% if form.author.errors %}
            <ul class="errors">
                {% for error in form.author.errors %}
                    <li style="color: red;">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </p>
        
    <p>
      <label >{{ form.link.label }}</label> 
      {{ form.author(size=100, class="form-input") }}
      {% if form.author.errors %}
          <ul class="errors">
              {% for error in form.author.errors %}
                  <li style="color: red;">{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}
  </p>
    
    <a href="{{ url_for('add') }}"><button class="add_book_button ">Add New Book</button></a>
    </form>
  </body>
</html>
