<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>My Library</title>
  </head>
  <body>
    <h1>My Reading List: 2025</h1>
    <!-- Table to display books -->
    <table class="books" border="1">
      <tr>
        <th>Number</th>
        <th>Title</th>
        <th>Author</th>
        <th>Thoughts</th>
        <!-- <th>Actions</th> -->
      </tr>
      {% for book in books %}
      <tr>
        <td>{{ book.id }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>
          <a href="{{ book.link }}" target="_blank"> Read </a>
        </td>
      </tr>
      {% endfor %}
    </table>

    <!-- <a href="{{ url_for('add') }}">
      <button class="new_button">Add New Book</button>
    </a> -->
  </body>
</html>
<td></td>
