<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Library</title>
  </head>
  <body>
    <h1>My Library</h1>
    {% if books %}
    <ul>
      {% for book in books %}
      <li>
        <strong>Title:</strong> {{ book.title }} - <strong>Author:</strong> {{
        book.author }}
      </li>

      {% endfor %}
    </ul>
    {% else %}
    <p>No books available</p>
    {% endif %}

    <a href="{{ url_for('add') }}">Add New Book</a>
  </body>
</html>
